############################################################
# HTTP-сервер Gateway
############################################################

server:
  # Порт, на котором слушает Gateway
  # Все внешние запросы приходят именно сюда
  port: 8089


############################################################
# Spring Cloud Gateway — конфигурация маршрутов
############################################################

spring:
  profiles:
    active: step2

  cloud:
    gateway:
      ########################################################
      # HTTP CLIENT — настройки HTTP-клиента Gateway
      #
      # Эти параметры управляют НИЖНИМ уровнем Gateway:
      # - TCP-соединениями;
      # - HTTP keep-alive;
      # - пулами соединений;
      # - таймаутами ожидания backend.
      #
      # ВАЖНО:
      # - это внутренний Reactor Netty HttpClient Gateway;
      # - эти настройки применяются ко ВСЕМ маршрутам.
      ########################################################
      httpclient:

        ####################################################
        # connect-timeout
        #
        # Таймаут установления TCP-соединения с backend.
        #
        # Что контролирует:
        # - сколько времени Gateway ждёт,
        #   пока backend примет TCP-соединение.
        #
        # Если backend:
        # - не запущен;
        # - порт недоступен;
        # - сеть недоступна;
        # — по истечении этого времени
        #   будет выброшена ошибка соединения.
        #
        # НЕ включает:
        # - время обработки запроса;
        # - время ожидания HTTP-ответа.
        ####################################################
        connect-timeout: 5000


        ####################################################
        # response-timeout
        #
        # Максимальное время ожидания HTTP-ответа
        # от backend ПОСЛЕ установления соединения.
        #
        # Что контролирует:
        # - зависшие запросы;
        # - медленные сервисы;
        # - deadlock'и в backend.
        #
        # Если backend:
        # - принял соединение,
        # - но не ответил вовремя,
        # Gateway:
        # - прерывает ожидание;
        # - выбрасывает timeout-ошибку.
        #
        # Это ОСНОВНОЙ таймаут Gateway
        # для защиты от "залипших" сервисов.
        ####################################################
        response-timeout: 15s


        ####################################################
        # POOL — настройки пула соединений
        #
        # Gateway использует пул TCP-соединений
        # для повторного использования keep-alive.
        #
        # Эти параметры определяют:
        # - сколько соединений может быть открыто;
        # - как долго они живут;
        # - как быстро освобождаются ресурсы.
        ####################################################
        pool:

          ##################################################
          # type
          #
          # Тип пула соединений.
          # Может быть:
          # - fixed (пул фиксированного размера, количество соединений = max-connections)
          # - disabled (нет пула, каждый запрос создаёт новое TCP-соединение)
          #
          # elastic означает:
          # - пул может динамически расширяться;
          # - соединения создаются по мере нагрузки;
          # - не фиксирован жёсткий размер.
          # - расширяется до max-connections.
          #
          # Подходит для:
          # - Gateway;
          # - burst-нагрузки;
          # - нестабильного трафика.
          ##################################################
          type: elastic


          ##################################################
          # max-idle-time
          #
          # Максимальное время простоя соединения
          # без активных запросов.
          #
          # Если соединение:
          # - не используется дольше этого времени,
          # оно будет закрыто.
          #
          # Это защищает от:
          # - "мертвых" keep-alive;
          # - stale-соединений;
          # - сетевых залипаний.
          ##################################################
          max-idle-time: 10s


          ##################################################
          # max-life-time
          #
          # Максимальное ВРЕМЯ ЖИЗНИ соединения,
          # независимо от активности.
          #
          # Даже если соединение активно,
          # по истечении этого времени оно будет:
          # - закрыто;
          # - пересоздано.
          #
          # Используется для:
          # - ротации соединений;
          # - защиты от долгоживущих TCP проблем.
          ##################################################
          max-life-time: 30s


          ##################################################
          # max-connections
          #
          # Максимальное количество ОДНОВРЕМЕННЫХ
          # TCP-соединений ко ВСЕМ backend'ам суммарно.
          #
          # Если достигнут лимит:
          # - новые запросы будут ждать
          #   освобождения соединения;
          # - при превышении acquire-timeout —
          #   будет выброшена ошибка.
          #
          # Это КЛЮЧЕВОЙ параметр
          # для защиты Gateway от перегрузки.
          ##################################################
          max-connections: 200


          ##################################################
          # acquire-timeout
          #
          # Максимальное время ожидания
          # свободного соединения из пула.
          #
          # Если все соединения заняты:
          # - запрос ставится в очередь;
          # - по истечении этого времени
          #   запрос будет отклонён.
          #
          # Защищает Gateway от:
          # - бесконечного роста очереди;
          # - memory pressure;
          # - cascading failure.
          #
          # ВАЖНО:
          # - значение задаётся в миллисекундах;
          # - 20 = 20ms (очень агрессивно).
          ##################################################
          acquire-timeout: 20

      ########################################################
      # ROUTES — декларативное описание маршрутов Gateway
      ########################################################
      routes:
#        ######################################################
#        # ROUTE 1 — retry-demo
#        #
#        # Демонстрация retry-механизма Gateway.
#        # Используется для показа:
#        # - повторных попыток;
#        # - временных ошибок backend;
#        # - поведения Gateway под нестабильным сервисом.
#        ######################################################
#        - id: retry-demo
#
#          # URI backend-сервиса.
#          # Gateway просто проксирует запрос,
#          # не зная ничего о бизнес-логике.
#          uri: http://localhost:8081
#
#          # Predicate — условие выбора маршрута.
#          # Маршрут срабатывает ТОЛЬКО
#          # если путь начинается с /retry/
#          predicates:
#            - Path=/retry/**
#
#          # Filters — инфраструктурные операции,
#          # применяемые к запросу ПОСЛЕ выбора маршрута.
#          filters:
#
#            # StripPrefix=1 удаляет первый сегмент пути.
#            #
#            # Пример:
#            #   /retry/test  →  /test
#            #
#            # Backend НЕ должен знать,
#            # что запрос пришёл через Gateway.
#            - StripPrefix=1
#
#            # Retry — инфраструктурный механизм устойчивости.
#            #
#            # ВАЖНО:
#            # - retry применяется ТОЛЬКО к backend-вызову;
#            # - НЕ повторяет security;
#            # - НЕ повторяет pre-filters;
#            # - используется только для идемпотентных запросов.
#            - name: Retry
#              args:
#
#                # Максимальное количество повторных попыток.
#                retries: 3
#
#                # HTTP-методы, для которых разрешён retry.
#                # Обычно — только GET.
#                methods: GET
#
#                # HTTP-статусы, при которых retry допустим.
#                # Это временные инфраструктурные ошибки.
#                statuses:
#                  - BAD_GATEWAY                # 502
#                  - INTERNAL_SERVER_ERROR      # 500


#        ######################################################
#        # ROUTE 2 — service-a
#        #
#        # Основной маршрут для сервиса A.
#        # Используется для демонстрации:
#        # - базовой маршрутизации;
#        # - фильтров;
#        # - metadata;
#        # - логирования.
#        ######################################################
#        - id: service-a
#
#          # Backend-сервис A
#          uri: http://localhost:8081
#
#          # Маршрут срабатывает для всех запросов:
#          #   /a/...
#          predicates:
#            - Path=/a/**
#
#          filters:
#
#            # Удаляем префикс /a
#            #
#            # /a/ping  →  /ping
#            #
#            # Это позволяет backend
#            # иметь "чистый" контракт.
#            - StripPrefix=1
#
#            # Добавляем HTTP-заголовок,
#            # помечающий запрос как прошедший через Gateway.
#            #
#            # Используется для:
#            # - логирования;
#            # - трассировки;
#            # - диагностики.
#            #
#            # Backend может:
#            # - использовать;
#            # - игнорировать.
#            - AddRequestHeader=X-From-Gateway,true
#
#          ####################################################
#          # METADATA — конфигурационные данные маршрута
#          #
#          # Metadata:
#          # - НЕ отправляется в backend;
#          # - доступна только Gateway-фильтрам;
#          # - используется для принятия инфраструктурных решений.
#          ####################################################
#          metadata:
#
#            # Логическое имя сервиса.
#            # Может использоваться:
#            # - в логах;
#            # - в метриках;
#            # - в GlobalFilter'ах.
#            service: A
#
#            # Управляющий флаг логирования.
#            #
#            # Пример:
#            # GlobalFilter может читать этот флаг
#            # и включать или отключать логирование
#            # для конкретного маршрута.
#            log: true


#        ######################################################
#        # ROUTE 3 — service-b
#        #
#        # Маршрут для сервиса B.
#        # Демонстрирует:
#        # - разные политики для разных сервисов;
#        # - использование metadata.
#        ######################################################
#        - id: service-b
#
#          # Backend-сервис B
#          uri: http://localhost:8082
#
#          # Маршрут для всех запросов:
#          #   /b/...
#          predicates:
#            - Path=/b/**
#
#          filters:
#
#            # Удаляем префикс /b
#            #
#            # /b/ping  →  /ping
#            - StripPrefix=1
#
#          metadata:
#
#            # Логическое имя сервиса
#            service: B
#
#            # Для этого сервиса логирование отключено.
#            #
#            # GlobalFilter может использовать
#            # этот флаг для изменения поведения.
#            log: false


############################################################
# ЛОГИРОВАНИЕ GATEWAY
#
# Эти настройки РЕКОМЕНДУЕТСЯ включать
# для обучения и демонстрации.
############################################################

logging:
  level:

    # Основные логи Gateway:
    # маршруты, фильтры, проксирование
    org.springframework.cloud.gateway: DEBUG

    org.springframework.security: DEBUG

    # Логи выбора маршрута и predicates
    org.springframework.cloud.gateway.handler.RoutePredicateHandlerMapping: TRACE

    # HTTP-клиент Gateway (полезно для retry)
    reactor.netty.http.client: DEBUG
